server:
  port: 8083

endpoints:
  shutdown:
    enabled: true
    
management:
  security:
    sensitive: false
    enabled: false
    
error:
  whitelabel:
    enabled: false

amazon:
  associateId: habuma-20

#  jpa:
#    hibernate:
#      ddl-auto: create-drop

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/readinglist
    username: root
    password: root  

#  datasource:
#    url: jdbc:postgresql://localhost:5432/readinglist
#    username: root
#    password: root  

liquibase:
#  change-log: classpath:/db/changelog/db.changelog-master.xml
#  change-log: classpath:/db/changelog/db.changelog-master.yaml
  change-log: classpath:/db/changelog/db.changelog-master.sql

logging:
  level:
    root: INFO

---
spring:
  profiles: development
#  jpa:
#    hibernate:
#      ddl-auto: create-drop
  datasource:
    url: jdbc:postgresql://localhost:5432/readinglist
    username: admin
    password: admin
logging:
  level:
    root: DEBUG

---
spring:
  profiles: production
  datasource:
    url: jdbc:postgresql://localhost:5432/readinglist
    username: admin
    password: admin
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
