<!DOCTYPE html>
<html>
<head>
  <title>Reading List</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"></link>
  <link rel="stylesheet" th:href="@{/js/lib/jqgrid/css/ui.jqgrid.css}"></link>
  
  
  	<script th:src="@{/js/lib/jqeury/jquery.min.js}"></script>
  	<script th:src="@{/js/common/config.js}"></script>
  	
	<script th:src="@{/js/lib/jqgrid/js/jquery.jqGrid.min.js}"></script>
	
	<script th:src="@{/js/common/common.js}"></script>
	<script th:src="@{/js/app/findView.js}"></script>
	   
</head>
<body>


<table id="list2"></table>
<div id="pager2"></div>

</body>
</html>
